@mixin block-title() {
  .block-title {
    border-bottom: 1px solid $gray-lighter;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    span {
      border-bottom: 2px solid $brand-primary;
      padding-bottom: 10px;
      display: inline-block;
      position: relative;
      top: 1px;
    }
  }
}
